/* 改所有标签样式  border-box*/
view,
scroll-view,
swiper,
movable-area,
movable-view,
cover-view,
cover-image,
icon,
text,
rich-text,
progress,
button,
checkbox,
editor,
form,
input,
label,
picker,
picker-view,
radio,
switch,
textarea,
navigator,
image,
video {
  box-sizing: border-box;
  font-family: PingFangSC-Regular, PingFang SC;
}
/*** 字体图标 ***/
@font-face {
  font-family: 'm-iconfont';
  src: url('~@/common/fonts/iconfont.ttf');
}
.m-iconfont {
  font-family: 'm-iconfont' !important;
  font-size: 32rpx;
  font-style: normal;
}

/** 布局样式 S */
.m-page-fixed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.m-flex {
  display: flex;
  flex-direction: row;
}

.m-flex-item {
  flex: 1;
}

.m-row {
  flex-direction: row;
}

.m-column {
  flex-direction: column;
}

.m-justify-start {
  justify-content: flex-start;
}

.m-justify-center {
  justify-content: center;
}

.m-justify-end {
  justify-content: flex-end;
}
.m-justify-between {
  justify-content: space-between;
}
.m-justify-around {
  justify-content: space-around;
}

.m-align-center {
  align-items: center;
}

.m-align-start {
  align-items: flex-start;
}

.m-align-end {
  align-items: flex-end;
}

.m-ellipsis-1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.m-height-60 {
  height: 60rpx;
}
.m-height-80 {
  height: 80rpx;
}
.m-height-100 {
  height: 100rpx;
}
/** 布局样式 E */

/** 2020-02-23 新UI S**/
/** 字体 **/
.m-font-1 {
  font-size: $uni-m-font-size-f1;
  font-weight: 500;
  color: rgba(47, 47, 47, 1);
}
.m-font-2 {
  font-size: $uni-m-font-size-f2;
  font-weight: 500;
  color: rgba(23, 33, 46, 1);
}
.m-font-3 {
  font-size: $uni-m-font-size-f3;
  font-weight: 400;
  color: rgba(23, 33, 46, 1);
}
.m-font-4 {
  font-size: $uni-m-font-size-f4;
  font-weight: 400;
  color: rgba(23, 33, 46, 1);
}
.m-font-5 {
  font-size: $uni-m-font-size-f5;
  font-weight: 400;
  color: rgba(38, 38, 38, 1);
}

.m-font-6 {
  font-size: $uni-m-font-size-f6;
  font-weight: 400;
  color: rgba(38, 38, 38, 1);
}

/** 2020-02-23 新UI E**/
